/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  letter-spacing: 2px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #1c1b20;
  height: 90vh;
}

.container {
  margin: 42px;
  overflow: scroll;
  background: #f8f8f8;
  height: 90vh;
}

a {
  text-decoration: none;
  color: #1c1b20;
}

.slide-right {
  -webkit-animation: slide-right 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
  animation: slide-right 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate-reverse both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

.navbar-top {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: baseline;
  margin: 0 42px;
}

.navbar-top ul {
  display: flex;
  margin-left: auto;
}

.navbar-top ul li {
  list-style: none;
  padding: 0 6px;
}

.navbar-social {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 1000;
  right: 0;
}

.navbar-social li {
  font-size: 0.9rem;
  list-style: none;
  padding: 12px;
}

.navbar-brand {
  text-transform: uppercase;
  position: fixed;
  left: 42px;
  padding: 12px;
}

.navbar-lang {
  position: fixed;
  top: 12px;
  font-size: 0.6rem;
  right: 42px;
}

.navbar-arrow {
  position: fixed;
  display: flex;
  font-size: 1rem;
  transform: rotate(90deg);
  color: #1c1b20;
  bottom: 10vh;
  padding-top: 18px;
}

.navbar-menu {
  width: 50%;
  height: 90vh;
  position: absolute;
  background: #f1f2f6;
  left: -50%;
  z-index: 999;
}

.navbar-menu .nav-menulist ul {
  position: absolute;
  list-style: none;
  font-size: 36px;
  top: 45%;
  left: 20%;
  transform: translateY(-45%);
}

.navbar-menu .nav-menulist ul li {
  line-height: 60px;
  cursor: pointer;
}

.navbar-menu .nav-menulist ul li:after {
  backface-visibility: hidden;
  border-top: 4px solid #1c1b20;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 250ms ease-in-out;
  width: 0;
}

.navbar-menu .nav-menulist ul li:hover:after {
  backface-visibility: hidden;
  border-color: #1c1b20;
  transition: width 350ms ease-in-out;
  width: 70%;
  letter-spacing: 3px;
}

.hamburger {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  padding: 1px;
}

#nav-icon1 {
  width: 20px;
  height: 30px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 4px;
  background: #1c1b20;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

/* scroll bar */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  display: none;
}

/*# sourceMappingURL=header.css.map */