/*Global*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

$base-size: 12px;

//colors
$color-light:#f1f2f6; 
$color-medium: #f8f8f8;
$color-dark: #1c1b20;

.body {
  letter-spacing: 2px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: $color-dark;
  height: 90vh;
}

.container {
  margin: ($base-size*3.5);
  overflow: scroll;
  background: $color-medium;
  height: 90vh;
}

a {
  text-decoration: none;
  color: $color-dark;
}

//animations

.slide-right {
  -webkit-animation: slide-right 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
  animation: slide-right 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
